.item_info
  - if user_signed_in? && current_user.id == @item.user_id
  = image_tag asset_path('triangle.png'),class:"item_info-image",size:"12x8"
    .item_info-area
      = link_to '削除',item_path(@item.id) , method: :delete,class:'delete__btn'
      - if user_signed_in? && current_user.id == @item.user_id and @item.status == "unused"
        = link_to '編集', edit_item_path(@item.id), method: :get,class:'edit__btn'