.edit-top__right--item{
  @include box;
  width: 96%;
  height: 800px;
  padding-left: 11px;
  &-form{
    height: 100%;
    width: 95%;
    margin: auto;
    position: relative;
    &-name{
      max-width: 600px;
      height: 100px;
      margin: auto;
      text-align: center;
      line-height: 135px;
      font-size: 30px;
    }
    &-border{
      @include border;
      max-width: 200px;
    }
    &-info{
      text-align: center;
      margin-top: 30px;
    }
    &--border{
      @include border;
      width: 90%;
      margin-bottom: 20px;
    }
    &-box{
      margin: 20px 20px 20px 170px;
      font-size: 20px;
      &-shoes{
        @include newform30;
        width: 400px;
      }
      &-shoesohter{
        @include newform150;
        width: 400px;
      }
      &-shoesweather{
        @include newform30;
      }
      &-shoessize{
        @include newform30;
      }
      &-shoesbrand{
        @include newform30;
      }
    }
    &-right{
      width: 300px;
      height: 390px;
      position: absolute;
      top: 239px;
      left: 620px;
      font-size: 20px;
      &-box{
        background:rgba(255, 255, 255, 0.6);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        width: 300px;
        height: 300px;
        display: block;
        &image{
          display: none;
        }
        &image input{
          background:rgba(143, 139, 139, 0.6);
          box-shadow: 0 1px 3px rgba(0,0,0,1);
        }
      }
      .select__button{
        float: right;
        margin: 10px 10px 0;
        background:rgba(191, 218, 240, 0.616);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        width: 100px;
        height: 30px;
        border-radius: 10px;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
      }
      .select__button:active{
        background:rgba(90, 131, 167, 0.616);
        box-shadow: 3px 3px 5px rgba(0,0,0,1);
      }
      &btn{
        float: right;
        margin-top: 10px;
        background:rgba(191, 218, 240, 0.616);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        width: 100px;
        height: 30px;
        border-radius: 10px;
        font-size: 15px;
        display: inline-block;
      }
    }
  }
}