.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.top__right--item_show{
  width: 96%;
  height: 800px;
  padding-left: 11px;
  background:rgba(243, 244, 245, 0.616);
  box-shadow: 0 1px 3px rgba(0,0,0,1);
  border-radius: 10px;
  position: relative;
  .show__image{
    margin: 25px 0 0 25px;
    border-radius: 10px;
    border: 1px solid rgba(41, 49, 51, 0.616);
    box-shadow: 0 1px 0px rgba(0,0,0,1);
    float: left;
    @media screen and (max-width:1300px){
      width: 450px;
      height: 450px;
    }
  }
  .brand_box{
    width: 600px;
    position: absolute;
    top: 580px;
    left: 45px;
    display: inline-block;
    .logo{
      cursor: pointer;
    }
  }
  .item_info{
    position: relative;
    width: 50%;
    height: 305px;
    float: left;
    background:rgba(243, 244, 245, 0.616);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    margin: 25px 0 0 25px;
    border-radius: 10px;
    position: relative;
    @media screen and (max-width:1650px){
      width: 48%;
    }
    @media screen and (max-width:1570px){
      width: 46.5%;
    }
    @media screen and (max-width:1540px){
      width: 45%;
    }
    @media screen and (max-width:1500px){
      width: 43%;
    }
    @media screen and (max-width:1450px){
      width: 41.5%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1370px){
      width: 38%;
    }
    @media screen and (max-width:1330px){
      width: 36.5%;
    }
    @media screen and (max-width:1300px){
      width: 35%;
    }
    &-image{
      padding: 12px;
      position: absolute;
      top: 12;
      left: 12;
    }
    &-area{
      display: none;
      position: absolute;
      top: 22px;
      left: 10px;
      width: 150px;
      background:rgba(247, 245, 245, 0.904);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      border-radius: 10px;
      padding: 10px 0 12px;
      .delete__btn{
        background:rgba(214, 213, 213, 0.904);
        text-decoration: none;
        color: rgba(0,0,0,1);
        font-size: 14px;
        padding: 9px 17px;
        border-radius: 10px;
        margin-left: 12px;
      }
      .edit__btn{
        background:rgba(214, 213, 213, 0.904);
        text-decoration: none;
        color: rgba(0,0,0,1);
        font-size: 14px;
        padding: 9px 17px;
        border-radius: 10px;
      }
    }
    .show__name{
      text-align: center;
      &--box{
        margin-top: 20px;
        font-size: 30px;
      }
    }
  }
  .comment__area{
    width: 50%;
    height: 337px;
    background:rgba(243, 244, 245, 0.616);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    float: left;
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 10px 0 0 27px;
    @media screen and (max-width:1650px){
      width: 48%;
    }
    @media screen and (max-width:1570px){
      width: 46.5%;
    }
    @media screen and (max-width:1540px){
      width: 45%;
    }
    @media screen and (max-width:1500px){
      width: 43%;
    }
    @media screen and (max-width:1450px){
      width: 41.5%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1370px){
      width: 38%;
    }
    @media screen and (max-width:1330px){
      width: 36.5%;
    }
    @media screen and (max-width:1300px){
      width: 35%;
    }
    &--info{
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
    }
    &--display{
      margin: 20px;
      width: 93%;
      display: inline-block;
      &-box{
        width: 60px;
        height: 80px;
        display: inline-block;
        position: relative;
        &icon{
          border-radius: 10px;
        }
      }
      &-boxname{
        font-size: 1px;
        text-align: center;
      }
      &-delete{
        float:right;
        text-decoration: none;
        padding: 0 10px 5px 0;
        color: black;
        font-size: 12px;
      }
      &-time{
        font-size: 12px;
        float: right;
        margin-right: 3%;
      }
      &-main{
        width: 83%;
        background: rgba(253, 165, 130, 0.493);
        margin:-60px 10px 0;
        border-radius: 10px;
        float: right;
        display: inline-block;
        & p{
          margin: 5px;
        }
      }
      &-message{
        width: 83%;
        background: white;
        margin:-60px 10px 0;
        border-radius: 10px;
        float: right;
        display: inline-block;
        & p{
          margin: 5px;
        }
      }
    }
  }
  .comment__area::-webkit-scrollbar { 
    display:none;
  }
  .comment__bar{
    width: 50%;
    height: 95px;
    background:rgba(243, 244, 245, 0.616);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    float: left;
    border-radius: 10px;
    margin: 10px 0 0 595px;
    @media screen and (max-width:1650px){
      width: 48%;
    }
    @media screen and (max-width:1570px){
      width: 46.5%;
    }
    @media screen and (max-width:1540px){
      width: 45%;
    }
    @media screen and (max-width:1500px){
      width: 43%;
    }
    @media screen and (max-width:1450px){
      width: 41.5%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1410px){
      width: 40%;
    }
    @media screen and (max-width:1370px){
      width: 38%;
    }
    @media screen and (max-width:1330px){
      width: 36.5%;
    }
    @media screen and (max-width:1300px){
      width: 35%;
      margin: 10px 0 0 504px;
    }
    &--form{
      padding: 5px 0 5px 20px;
      &-input{
        width: 80%;
        height: 84px;
        border-radius: 10px;
        border: 0.5px solid gray;
      }
      &-submit{
        display: none;
      }
    }
    .fa-paper-plane{
      border: 1px solid gray;
      font-size: 38px;
      color: gray;
      padding: 6px 30px;
      float: right;
      margin: -64px 15px 0;
      border-radius: 10px;
    }
    .fa-paper-plane:active{
      background:rgba(161, 171, 180, 0.616);
      box-shadow: 0 3px 3px rgba(0,0,0,1);
    }
  }
  .show__other{
    margin: -5px 0 0 60px;
    width: 560px;
    padding: 5px 0 0 10px;
    border-radius: 10px;
    @media screen and (max-width:1540px){
      margin: 26px 0 0 40px;
    }
    @media screen and (max-width:1450px){
      margin: 26px 0 0 20px;
    }
    @media screen and (max-width:1300px){
      margin: 26px 0 0 10px;
    }
    &--text{
      width: 200px;
      height: 200px;
      font-size: 15px;
      margin: 10px;
      float: left;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      @media screen and (max-width:1650px){
        width: 160px;
      }
      @media screen and (max-width:1450px){
        width: 130px;
      }
      @media screen and (max-width:1370px){
        width: 100px;
      }
      @media screen and (max-width:1300px){
        width: 80px;
      }
    }
    &--text::-webkit-scrollbar { 
      display:none;
    }
    &--size{
      width: 100px;
      font-size: 15px;
      margin: 10px;
      float: left;
      @media screen and (max-width:1370px){
        width: 70px;
      }
      @media screen and (max-width:1300px){
        width: 65px;
      }
    }
    &--weather{
      width: 130px;
      font-size: 15px;
      margin: 10px;
      float: left;
      @media screen and (max-width:1370px){
        width: 100px;
      }
      @media screen and (max-width:1300px){
        width: 90px;
      }
    }
  }
}

