.main_newuser{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
  background-image: image-url('IMindex1');
  &__name{
    position: absolute;
    top:40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgba(255, 255, 255, 0.986);
    -webkit-text-stroke: 1px rgba(153, 153, 152, 0.986);
    font-family: 'Silom',sans-serif;
    font-size: 75px;
    width: 326px;
    display: flex;
  }
  .register__area{
    position: absolute;
    left: 0;
    top: 200px;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: -30px;
		background:rgba(243, 244, 245, 0.6);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    width: 346px;
    height: 590px;
    border-radius: 10px;
    .new_user{
      position: relative;
    }
    .newnickname__area{
      margin: 20px 20px 5px 20px;
      font-weight: bold;
      &--form{
        width: 300px;
        height: 35px;
      }
    }
    .newemail__area{
      margin: 5px 20px 5px 20px;
      font-weight: bold;
      &--form{
        width: 300px;
        height: 35px;
      }
    }
    .newpassword__area{
      margin: 5px 20px 5px 20px;
      font-weight: bold;
      &--form{
        width: 300px;
        height: 35px;
      }
    }
    .newpassword_confirmation__area{
      margin: 5px 20px 5px 20px;
      font-weight: bold;
      &--form{
        width: 300px;
        height: 35px;
      }
    }
    .newmysize__area{
      margin: 5px 20px 5px 20px;
      font-weight: bold;
      &--form{
        width: 300px;
        height: 35px;
      }
    }
    .iconimage__area{
      margin: 5px 20px 5px 20px;
      font-weight: bold;
      position: relative;
      &--form{
        position: absolute;
        top: 121px;
        left: 177px;
        width: 100px;
      }
      .iconimage{
        width: 120px;
        height: 120px;
        background:rgba(255, 255, 255, 0.6);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        display: block;
      }
    }
    .register{
      position: relative;
      top: -21px;
      left: 8px;
      margin: 40px 30px 20px 20px;
      &__btn{
        float: right;
        background:rgba(143, 139, 139, 0.6);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        border-radius: 10px;
        width: 128px;
        height: 46px;
        font-size: 20px;
        color: white;
      }
    }
    .sign_in{
      text-decoration: none;
      background:rgba(143, 139, 139, 0.6);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      border-radius: 10px;
      color: white;
      width: 140px;
      font-size: 18px;
      line-height: 46px;
      text-align: center;
      padding: 14px;
      margin-left: -3px;
    }
  }
}