.top__right--user{
  @include box;
  width: 96%;
  height: 800px;
  padding-left: 11px;
  &info{
    @include border_bottom;
    width: 1000px;
    height: 80px;
    margin: 10px auto;
    padding: 5px 10px 10px 10px;
    font-weight: bold;
    line-height: 60px;
    
    &-border{
      @include border_bottom;
      margin: 10px -10px 0 -10px;
    }
    &-icon{
      @include searchwhile;
    }
    &-name{
      @include searchwhile;
      margin-left: 30px;
    }
    &-size{
      @include searchwhile;
      margin-left: 40px;
    }
    &-number{
      @include searchwhile;
      margin-left: 53px;
    }
    &-favorite{
      @include searchwhile;
      margin-left: 85px;
    }
    .top__right--user-box{
      margin-top: 40px;
      height: 600px;
      &s{
        margin-bottom: 40px;
        height: 75px;
        position: relative;
        &icon{
          display: inline-block;
          @include box;
        }
        &name{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 120px;
          & a{
            text-decoration: none;
            color: black;
          }
        }
        &size{
          @include searchwhile2;
          top: 0;
          left: 260px;
        }
        &number{
          @include searchwhile2;
          top: 0;
          left: 400px;
        }
        &favorite{
          @include searchwhile2;
          @include scroll_none;
          top: 0;
          left: 530px;
          height: 84px;
          width: 470px;
          overflow-x: auto;
          white-space: nowrap;
          & img{
            border-radius: 10px;
          }
        }
        &favorite::-webkit-scrollbar {
          display:none;
        }
      }
      .pagination{
        position: absolute;
        top: 800px;
      }
    }
  }
}