.top__right--item-user{
  width: 96%;
  height: 800px;
  padding-left: 11px;
  background:rgba(243, 244, 245, 0.616);
  box-shadow: 0 1px 3px rgba(0,0,0,1);
  border-radius: 10px;
  .top__right--item-show{
    padding: 30px;
    .weatherimage{
      position: absolute;
      top: -119px;
      left: 80px;
    }
  }
}
.image_box{
  width: 140px;
  height: 200px;
  display: inline-block;
  margin: 5px 0 10px 50px;
  padding-right: 45px;
  position: relative;
  & img{
    border-radius: 10px;
  }
  .image:active{
    background:rgba(161, 171, 180, 0.616);
    box-shadow: 3px 3px 5px rgba(0,0,0,1);
  }
  .edit__btn{
    background:rgba(243, 247, 250, 0.616);
    box-shadow: 0 1px 3px rgba(0,0,0,1);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    font-size: 13px;
    color: black;
    margin-bottom: 5px;
  }
  &-area{
    display: inline;
    position: relative;
    height: 140px;
    .favorite_off{
      position: absolute;
      top: -120px;
      left: 108px;
    }
    .favorite_on{
      position: absolute;
      top: -135px;
      left: 94px;
    }
  }
  .item__name{
    display: block;
    width: 140px;
    font-size: 13px;
  }
  .time{
    background:rgba(243, 247, 250, 0.616);
    box-shadow: 0 1px 1px rgba(0,0,0,1);
    position: absolute;
    top: 82px;
    left: -19px;
    color: rgb(0, 0, 0);
  }
}