.top__right--item-user{
  @include box;
  width: 96%;
  height: 800px;
  padding-left: 11px;
  .top__right--item-show{
    padding: 30px;
    .weatherimage{
      position: absolute;
      top: -119px;
      left: 80px;
    }
  }
}
.image_box{
  width: 140px;
  height: 200px;
  display: inline-block;
  margin: 5px 0 10px 50px;
  padding-right: 45px;
  position: relative;
  & img{
    border-radius: 10px;
  }
  .image:active{
    @include click;
  }
  .edit__btn{
    @include edit_btn;
  }
  &-area{
    display: inline;
    position: relative;
    height: 140px;
    .favorite_off{
      position: absolute;
      top: -120px;
      left: 108px;
    }
    .favorite_on{
      position: absolute;
      top: -135px;
      left: 94px;
    }
  }
  .item__name{
    display: block;
    width: 140px;
    font-size: 13px;
  }
  .time{
    @include time;
  }
}