.top__contents--image{
  width: 100%;
  height: 100%;
  background:rgba(235, 235, 235, 0);
  z-index: -1;
  display: flex;
  overflow-y: scroll;
  & li{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: image-url('IMindex7');
    -webkit-animation: anime 40s linear 0s infinite ;
    animation: anime 40s linear 0s infinite ;
  }
  .top__left{
    width: 20%;
    height: 100%;
    z-index: 1;
    margin-left: 15px;
    &--time{
      height: 6%;
      padding: 10px;
      margin: 25px 10px 10px 10px;
      background:rgba(243, 244, 245, 0.616);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      line-height: 50px;
      border-radius: 10px;
      &-real{
        font-size: 25px;
        text-align: center;
        font-family: 'Silom',sans-serif;
      }
    }
    &--weather{
      height: 634px;
      padding: 15px;
      margin: 10px;
      background:rgba(243, 244, 245, 0.616);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      font-family: 'Silom',sans-serif;
      border-radius: 10px;
      .top__info{
        box-shadow: 10px 10px #ccc;
        -moz-box-shadow: 10px 10px rgb(134, 128, 128);
        -webkit-box-shadow: 10px 10px rgba(89, 99, 109, 0.616);
        -o-box-shadow: 10px 10px rgb(121, 115, 115);
        width: 90%;
        border: solid 1px rgb(134, 128, 128);
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
      }
      &-city{
        & h2{
          margin: 12px 10px 10px;
          font-size: 25px;
        }
      }
      &-information{
        .weather-report{
          width: 98%;
          height: 84px;
          background:rgba(155, 233, 243, 0.616);
          box-shadow: 0 1px 3px rgba(0,0,0,1);
          -webkit-box-shadow: 3px 3px rgba(18, 41, 65, 0.616);
          margin: 20px 0 20px 0;
          font-family: 'Silom',sans-serif;
          border-radius: 10px;
          & img{
            float: left;
            margin: 15px;
          }
          .weather-date{
            margin: 10px;
          }
          .weather-main{
            margin: 10px;
          }
          .weather-temp{
            margin: 10px;
          }
        }
      }
    }
    &--register{
      padding: 10px 0;
      margin: 10px;
      background:rgba(243, 244, 245, 0.616);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      color: black;
      display: block;
      text-align: center;
    }
    &--register:active{
      background:rgba(161, 171, 180, 0.616);
      box-shadow: 0 3px 3px rgba(0,0,0,1);
    }
  }
  .top__right{
    background:rgba(235, 235, 235, 0);
    width: 80%;
    height: 833px;
    z-index: 1;
    margin-left: 20px;
    &--area{
      height: 70px;
      width: 97%;
      margin: 25px 0 10px 0 ;
      font-size: 30px;
      line-height: 70px;
      font-weight: bold;
      font-family: 'Silom',sans-serif;
      background:rgba(243, 244, 245, 0.616);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      border-radius: 10px;
      position: relative;
      &-btn{
        width: 130px;
        background:rgba(243, 244, 245, 0.616);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        text-decoration: none;
        color: rgba(0,0,0,1);
        margin: 7px 10px 10px 0;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        border-radius: 10px;
        float: right;
        height: 80%;
        line-height: 59px;
      }
      &-btn:active{
        background:rgba(161, 171, 180, 0.616);
        box-shadow: 0 3px 3px rgba(0,0,0,1);
      }
      &-name{
        width: 45%;
        margin-left: 30px;
        display: inline-block;
        position: relative;
        &-right{
          display: inline-block;
          position: absolute;
          top: 0;
        }
        .iconimage{
          margin: 5px 5px 0 0;
        }
      }
      .search{
        width: 25%;
        display: inline-block;
        position: absolute;
        top: 0;
        &-submit{
          display: none;
        }
        &-input{
          width: 100%;
        }
      }
      .search-btn{
        border: 1px solid black;
        padding: 0 17px;
        background:rgba(243, 244, 245, 0.616);
        box-shadow: 0 1px 3px rgba(0,0,0,1);
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        top: 13px;
        right: 21%;
      }
      .search-btn:active{
        background:rgba(161, 171, 180, 0.616);
        box-shadow: 0 3px 3px rgba(0,0,0,1);
      }
    }
    &--item{
      width: 96%;
      height: 718px;
      padding-left: 11px;
      background:rgba(243, 244, 245, 0.616);
      box-shadow: 0 1px 3px rgba(0,0,0,1);
      font-family: 'Silom',sans-serif;
      border-radius: 10px;
      .weatherimage{
      }
      & p{
        margin: 7px 0 0 10px;
        display: inline-block;
      }
      &-sunny{
        padding-top: 10px;
        height: 33%;
        overflow: scroll;
      }
      &-border{
        border-bottom: 2px solid rgb(85, 79, 79);
        margin: 0 50px 0 50px;
      }
      &-rainy{
        height: 33%;
        overflow: scroll;
      }
      &-recovery{
        height: 33%;
        overflow: scroll;
      }
      .image_box{
        width: 140px;
        height: 200px;
        display: inline-block;
        margin: 5px 0 10px 50px;
        padding-right: 45px;
        position: relative;
        & img{
          border-radius: 10px;
        }
        .edit__btn{
          background:rgba(243, 247, 250, 0.616);
          box-shadow: 0 1px 3px rgba(0,0,0,1);
          border-radius: 10px;
          text-decoration: none;
          display: inline-block;
          padding: 4px 10px 4px 10px;
          font-size: 13px;
          color: black;
          margin-bottom: 5px;
        }
        .item__name{
          display: block;
          width: 140px;
          height: 15px;
          font-size: 13px;
        }
        .show__btn{
          background:rgba(243, 247, 250, 0.616);
          box-shadow: 0 1px 3px rgba(0,0,0,1);
          border-radius: 10px;
          text-decoration: none;
          display: inline-block;
          padding: 4px 10px 4px 10px;
          font-size: 13px;
          color: black;
          margin-bottom: 5px;
        }
        .time{
          background:rgba(243, 247, 250, 0.616);
          box-shadow: 0 1px 1px rgba(0,0,0,1);
          position: absolute;
          top: 82px;
          left: -23px;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}