.top__contents--image{
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  &-back{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-animation: anime 40s linear 0s infinite ;
    animation: anime 40s linear 0s infinite ;
  }
  .top__left{
    width: 20%;
    height: 100%;
    z-index: 1;
    margin-left: 15px;
    &--time{
      @include box;
      height: 50px;
      padding: 10px;
      margin: 25px 10px 10px 10px;
      line-height: 50px;
      &-real{
        font-size: 25px;
        text-align: center;
        @media screen and (max-width:1200px){
          font-size: 15px;
        }
      }
    }
    &--weather{
      @include box;
      height: 716px;
      padding: 15px;
      margin: 10px;
      .top__info{
        -webkit-box-shadow: 10px 10px rgba(89, 99, 109, 0.616);
        width: 90%;
        border: solid 1px rgb(134, 128, 128);
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        @media screen and (max-width:1000px){
          font-size: 10px;
        }
      }
      &-city{
        & h2{
          margin: 12px 10px 10px;
          font-size: 25px;
        }
      }
      &-information{
        .weather-report{
          @include box;
          @include scroll_none;
          width: 98%;
          height: 96px;
          -webkit-box-shadow: 3px 3px rgba(18, 41, 65, 0.616);
          margin: 20px 0 20px 0;
          font-size: 12px;
          overflow-x: scroll;
          & img{
            float: left;
            margin: 22px;
          }
          .weather-date{
            margin: 11px 10px 10px 10px;
          }
          .weather-main{
            margin: 10px;
          }
          .weather-temp{
            margin: 10px 10px 0 10px;
          }
        }
        .weather-report::-webkit-scrollbar {
          display:none;
        }
      }
    }
    &--register{
      @include box;
      padding: 10px 0;
      margin: 10px;
      display: block;
      cursor: pointer;
      text-align: center;
    }
    &--register:active{
      @include click;
    }
    & a{
      text-decoration: none;
    
      color: black;
    }
  }
  .top__right{
    width: 80%;
    height: 833px;
    z-index: 1;
    margin-left: 20px;
    &--area{
      @include box;
      height: 70px;
      width: 97%;
      margin: 25px 0 10px 0 ;
      font-size: 30px;
      line-height: 70px;
      position: relative;
      font-size: 25px;
      &-btn{
        @include box;
        width: 130px;
        text-decoration: none;
        color: rgba(0,0,0,1);
        margin: 7px 10px 10px 0;
        font-size: 18px;
        text-align: center;
        float: right;
        height: 80%;
        line-height: 59px;
        font-size: 15px;
        @media screen and (max-width:1100px){
          font-size: 13px;
          width: 115px;
        }
        @media screen and (max-width:950px){
          font-size: 12px;
          width: 100px;
        }
      }
      &-btn:active{
        @include click;
      }
      &-name{
        width: 45%;
        margin-left: 30px;
        display: inline-block;
        position: relative;
        &-right{
          display: inline-block;
          position: absolute;
          top: 0;
          font-size: 25px;
        }
        @media screen and (max-width:1400px){
          font-size: 20px;
        }
        @media screen and (max-width:930px){
          font-size: 12px;
        }
        .iconimage{
          margin: 5px 5px 0 0;
          border-radius: 10px;
        }
        &-window{
          @include box2;
          display: none;
          position: absolute;
          top: 66px;
          left: 0;
          z-index: 1;
          width: 200px;
          height: 325px;
          font-size: 12px;
          .window__area{
            text-align: center;
            &--name{
              height: 20px;
              font-size: 12px;
            }
            &--image{
              border-radius: 10px;
              margin-top: 30px;
            }
            &--number{
              margin-top: -45px;
              height: 20px;
            }
            &--favorite{
              height: 20px;
              margin-bottom: 30px;
            }
            &--mypage{
              @include area;
              &-zone{
                @include zone;
              }
            }
            &--logout{
              @include area;
              &-zone{
                @include zone;
              }
            }
          }
        }
      }
      .search{
        width: 25%;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 240px;
        @media screen and (max-width:1400px){
          width: 20%;
        }
        @media screen and (max-width:1200px){
          width: 15%;
        }
        &-submit{
          display: none;
        }
        &-input{
          width: 100%;
        }
      }
      .search-btn{
        @include box;
        border: 1px solid black;
        padding: 0 17px;
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        top: 13px;
        right: 12%;
        @media screen and (max-width:1920px){
          right: 10.4%;
        }
        @media screen and (max-width:1850px){
          right: 10.8%;
        }
        @media screen and (max-width:1750px){
          right: 11%;
        }
        @media screen and (max-width:1700px){
          right: 11.7%;
        }
        @media screen and (max-width:1600px){
          right: 12.5%;
        }
        @media screen and (max-width:1550px){
          right: 13%;
        }
        @media screen and (max-width:1500px){
          right: 13.5%;
        }
        @media screen and (max-width:1450px){
          right: 14%;
        }
        @media screen and (max-width:1400px){
          right: 14.5%;
        }
        @media screen and (max-width:1300px){
          right: 15%;
        }
        @media screen and (max-width:1250px){
          right: 15.5%;
        }
        @media screen and (max-width:1225px){
          right: 16%;
        }
        @media screen and (max-width:1250px){
          right: 17%;
        }
        @media screen and (max-width:1150px){
          right: 18%;
        }
      }
      .search-btn:active{
        @include click;
      }
    }
    &--item{
      @include box2;
      width: 96%;
      height: 546px;
      padding-left: 11px;
      .weatherimage{
      }
      & p{
        margin: 7px 0 0 10px;
        display: inline-block;
      }
      &-sunny{
        @include scroll_none;
        padding-top: 10px;
        height: 50%;
        overflow: scroll;
      }
      &-sunny::-webkit-scrollbar { 
        display:none;
      }
      &-border{
        border-bottom: 2px solid rgb(85, 79, 79);
        margin: 0 50px 3px 50px;
      }
      &-rainy{
        @include scroll_none;
        height: 50%;
        overflow: scroll;
      }
      &-rainy::-webkit-scrollbar { 
        display:none;
      }
      .image_box{
        @include image_box;
        & img{
          border-radius: 10px;
        }
        .image:active{
          @include image_active;
        }
        .edit__btn{
          @include edit_btn
        }
        &-area{
          display: inline;
          position: relative;
          height: 140px;
          .favorite_off{
            position: absolute;
            top: -120px;
            left: 108px;
          }
          .favorite_on{
            position: absolute;
            top: -135px;
            left: 94px;
          }
        }
        .item__name{
          display: block;
          width: 140px;
          font-size: 13px;
        }
        .time{
          @include time;
        }
      }
    }
    &--item-bottom{
      @include box2;
      width: 96%;
      height: 244px;
      padding-left: 11px;
      .weatherimage{
      }
      & p{
        margin: 7px 0 0 10px;
        display: inline-block;
      }
      &recovery{
        overflow: scroll;
        border-radius: 10px;
        margin:10px 10px 0 0;
        @include scroll_none;
      }
      &recovery::-webkit-scrollbar { 
        display:none;
      }
      .image_box{
        @include image_box;
        & img{
          border-radius: 10px;
        }
        .image:active{
          @include image_active;
        }
        .edit__btn{
          @include edit_btn;
        }
        .item__name{
          display: block;
          width: 140px;
          font-size: 13px;
        }
        .time{
          @include time;
        }
        &-area{
          display: inline;
          position: relative;
          height: 140px;
          .favorite_off{
            position: absolute;
            top: -120px;
            left: 108px;
          }
          .favorite_on{
            position: absolute;
            top: -135px;
            left: 92px;
          }
        }
      }
    }
  }
}